.about_info p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.7em;
  color: #666;
}

.about_heading {
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 2px;
  color: #217142;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 20px;
}

.excelist_heading{
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 2px;
  color: #217142;
  text-align: center;
  padding-bottom: 20px;
}

 .albums_heading {
   text-transform: uppercase;
   line-height: 40px;
   font-size: 30px;
   font-weight: 700;
   margin: 0 0 2px;
   color: #217142;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 20px;
 }

.about_quotes {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  color: #217142;
  text-align: center;
  margin-top: 70px;

  span {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    line-height: 1.6em;
    color: #999999;
  }
}

.about_statistics {
  display: flex;
  justify-content: space-around;
  .statistic_item {
    text-align: center;
    color: #333;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    display: block;
    margin: 0;
    padding-top: 12px;
    border-right: 1px solid #eee;

    span {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 400;
      line-height: 30px;
      display: block;
      color: #666;
      padding-bottom: 10px;
    }
  }
}

.lesson_benefits {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.lesson_benefit {
  margin-left: 10%;

  h4 {
    color: #217142;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 32px;
    position: relative;
    margin-bottom: 12px;
    border-left: 3px solid #217142;
  }

  ul {
    margin-left: 15px;
  }
}

.our_team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;

  .team_member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    // padding:0;
    // width:300px;
    // display:block;
    cursor: pointer;
    // overflow:hidden;
    border-radius: 50%;

    .name-title {
      font-size: 15px;
  font-weight: 700;
  margin: 24px 0 0;
  line-height: 25px;
    &:hover {
      color: rgb(33, 113, 66)
    }
    }

    .member_name {
      a {
        text-decoration: none;
        color: #333;
        font-size: 15px;
        font-weight: 700;
        margin: 24px 0 0;
        line-height: 25px;
      }

      .innerTexts {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        text-align: center;

        i {
          margin-right: 10px;
          color: #fff;
          display: inline-block;
          font-size: 18px;
          background: 0 0;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
        }
      }



      opacity: 0;
      font-size: 40px;
      position: absolute;
      top: 0;
      left: 0;
      color: #1c87c9;
      background-color: rgba(33, 113, 66, 0.8);
      width: 200px;
      height: 200px;
      border-radius: 50%;
      -webkit-transition: all 400ms ease-out;
      -moz-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      -ms-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      text-align: center;

      &:hover {
        opacity: 1;
      }
    }

    p:last-child {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      color: #217142;
      line-height: 20px;
    }

    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
}

.j_team a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  padding: 5px 25px;
  font-weight: 700;
  background: #217142;
  color: #333;
  text-decoration: none;
  width: fit-content;
  margin: auto auto 60px;
}

.about_info {
  margin-left: 15px;
}

.users_feedbacks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  background-color: #217142;
  height: 1px;
  width: 35px;
  margin: 0 auto 30px;
}
