.content_item {
  line-height: 1.7em;
  font-family: Tahoma,Geneva,sans-serif;
  a{
    color: #217142;
    font-size: 15px;
    font-weight: 700;
  };

  h2 {
    margin-bottom: 20px
  }

  .grey_color {
    color: #666 !important;
    font-weight: bold
  }
}

.content {
  padding-top: 60px
}
