.content_item {
  line-height: 1.7em;
  font-family: Tahoma,Geneva,sans-serif;
  a{
    color: #217142;
    font-size: 15px;
    // font-weight: 700;
  };

  h2 {
    margin-bottom: 20px;
    a {
      font-weight: 700
    }
  }

  .grey_color {
    color: #666 !important;
    font-weight: bold
  }
}

.content {
  padding-top: 60px;
  width: 60%;
  padding: 0 15px;
}

.automatic-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}


@media screen and (max-width: 768px){
  .automatic-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      width: 100%;
    }
  }
}