.content_item {
  line-height: 1.7em;
  font-family: Tahoma,Geneva,sans-serif;
  a{
    color: #217142;
    font-size: 15px;
    // font-weight: 700;
  };

  h2 {
    margin-bottom: 20px;
    a {
      font-weight: 700
    }
  }

  .grey_color {
    color: #666 !important;
    font-weight: bold
  }
}

.content {
  width: 95%;
  padding: 0 15px;
}

.automatic-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.automatic-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media screen and (max-width: 950px){
  .automatic-container{
    display: flex;
    flex-direction: column;
  }
  .automatic-wrapper, .automatic-sidebar {
    width: 90%;
  }
}


@media screen and (max-width: 768px){
  .automatic-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      width: 100%;
    }
  }
}