// **********   shields.io
.shields-io {
  display: flex;
  font-size: 11px;
  width: fit-content;
  border-radius: 6px;
  border: 1px solid white;
  overflow: hidden;

  div:nth-child(1) {
    background: #5c5c5c;
    color: #ffffff;
    padding: 2px 6px;
  }

  div:nth-child(2) {
    background: #0b7dbd;
    color: #ffffff;
    padding: 2px 6px;
  }
}
//
.certificates {
  &__input {
    // width: 40%;
    min-width: 200px;
    max-width: 40%;
    // height: ;
    margin-right: 10px;
  }
  .layout__content {
    display: flex;
    //  width: 100%;
    justify-content: center !important;
  }
  &__views {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .ant-descriptions.ant-descriptions-small.ant-descriptions-bordered {
      width: 100%;
      .ant-descriptions-row {
        .ant-descriptions-item-label {
          width: 150px;
        }
      }
    }

    &__table {
      // max-width: 300px;
      // min-width: 50%;
      display: flex;
      // justify-content: center !important;
      align-items: center;
      // min-width: 450px !important;
      min-width: 500px !important;

      @media screen and (max-width: 500px) {
        min-width: 320px !important;
      }
      &__title {
        text-align: center !important;
      }
    }
  }
  &__notFound {
    display: block !important;
    width: 100%;
    font-size: 36px;
    color: $brand-color;
    margin-top: 50px;
    text-align: center;
  }
}

// .certificate-tables {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 20px;
//   .ant-descriptions-view {
//     margin: 10px;
//   }
// }
