.get_files_button {
  padding: 21px 43px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #154a2b), color-stop(1, #217142));
  box-sizing: border-box;
  font-size: 1.45em;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.get_files {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  h2{
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 2px;
    color: #217142;
    padding-top: 42px;
    padding-bottom: 19px;
  }
}

.location{
  iframe{
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px
  }
}
