.get_files_button {
  padding: 12px 25px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #154a2b),
    color-stop(1, #217142)
  );
  box-sizing: border-box;
  font-size: 0.7em;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;

  @media screen and (max-width: 280px) {
    padding: 21px 21px;
  }
}

.get-files-btn {
  padding: 10px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #154a2b),
    color-stop(1, #217142)
  );
  box-sizing: border-box;
  font-size: 0.7em;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;

  @media screen and (max-width: 280px) {
    padding: 21px 21px;
  }
}

.get_files {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  h2 {
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 2px;
    color: #217142;
    padding-top: 42px;
    padding-bottom: 19px;
  }
}

.location {
  iframe {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
  }
}

.feedback_heading_1,
.feedback_heading_2 {
  h2 {
    color: #217142;
    font-weight: 700;
    font-size: 2em;
  }
}

.feedback {
  margin-top: 50px;
}

.feedback_contact {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  .fc_item {
    color: rgb(33, 113, 66);
    font-weight: bold;
  }

  input,
  textarea {
    border: 1px solid #e5e5e5;
    outline: none;
  }
}

.footer-contact {
  div {
    margin-bottom: 30px;
    // color: black;
  }
}

.feedback-footer-info {
  color: #666 !important;
}

.first-line {
  margin-top: 50px;
  color: black;
}

.send {
  background: #217142 !important;
  color: #333 !important;
  opacity: 1 !important;
}

.feedbacks-data {
  display: flex;
  justify-content: space-between;
}

.user_feedbacks__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 968px) {
  .feedback_contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-contact {
    width: 80vw !important;
  }

  .footer_heading_1,
  .feedback_heading_2 {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .feedback {
    width: 100vw;
    .feedback_heading_2 {
      margin-top: 20px;
    }
  }
  .feedback_contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feedback-form {
    width: 90vw;
  }
}
