footer {
    background-color: #217142;
    color: white;
    width: 100%;
    // position: absolute;
    // bottom: 0
  }

  .fa-viber {
    color: blueviolet !important;
  }

  .footer_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .form_container form {
    display: flex;
    flex-direction: column;
  }

  .form_container input, textarea{
    margin-top: 50px;
    padding: 15px;
  }

  #sendButton {
    padding: 10px 25px;
    background: #111;
    color: white;
    opacity: .5;
    outline: none;
    border: none;
    width: 30%;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    border-top: 1px solid rgba(153, 153, 153, 0.15) ;
    color: #999999;
  }

  .footer_social_links a{
    margin-right: 10px;
    color: #999999;
    text-decoration: none;
  }

  footer .fab {
    margin-right: 10px;
  }

  .footer_heading_2, .footer_heading_1 {
    h2{
      color: white;
      font-size: 30px;
      padding-top: 42px;
    }
    p{
      color:#d0d0d0;
      margin-bottom: 50px
    }
  }

  .footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 60%;
    i {
      margin-right: 15px
    }
  }

  .footer_coll_1, .footer_coll_2 {
    div {
      margin-bottom: 40px
    }
  }

  .footer-info, i {
    color: #d0d0d0
  }

  .footer-social-icons {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 40px;
  }

  .footer_coll_2 {
    input {
      outline: none;
      border: none
    }
  }
