* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7em;
  color: #666;
  overflow-x: hidden;
}

.site-card-wrapper {
  .ant-col {
    margin-top: 50px;
  }
}

.singlecourse-navbar {
  max-width: 300px
}

.content {
  width: calc(100% - 310px)
}

.our-team-title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.6em;
}

.our-team-position {
  text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #999;
    line-height: 20px;
    margin-bottom: 15px;
}

#back-to-top {
      position: fixed;
    bottom: 14px;
    right: 14px;
    display: block;
    width: 32px;
    height: 32px;
    background: #333;
    color: #fff;
    text-align: center;
    z-index: 997;
    cursor: pointer;
}
.backDropGreen {
  display: none;
  background-color: green;
  width: 200px;
  height: 200px;
  box-sizing: content-box;
  border-radius: 50%;
  opacity: 0.4;
  position: absolute;
  // top: -200px;
}

.dashboard-welcome {
  font-size: 3em;
  // display: flex;
  // justify-content: center;
  text-align: center;
  padding-top: 50px;
  // height: 80vh;
  line-height: 50px;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.slideText {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: rgb(33, 113, 66);
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  max-width: 450px;
}

.intro_videoblog_see_more {
  color: #ffffff !important;
  background-color: #217142 !important;
  padding: 6px 12px;
}

.introduction {
  background-image: url("../../assets/background_excel.jpg");
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 742px;
  margin-top: -45px;
  margin-bottom: 0;
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .introduction-bars {
    display: flex;
    justify-content: space-between;
    width: 90%;
    // flex-wrap: wrap;
    // align-items: center;
  }

  .animated-text {
    height: 200px;
    width: 50px;
  }

  .intro-bar-item {
    overflow: hidden;
    min-height: 150px;
    background: rgba(33,113,66,0.77);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 30px;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      background: #217142;
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      line-height: 30px;
      margin: 20px 0 10px;
      padding-right: 45px;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    i {
      color: #ffffff;
      font-size: 65px;
      line-height: 65px;
      vertical-align: middle;
    }

    .intro-more {
      color: #fff;
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      padding: 0;
      margin-top: 0;
      margin-right: 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    .arrow {
      font-size: 11px !important;
    }
  }
}

.excelist_badge {
  background: rgba(33, 113, 66, 0.9);
  text-align: center;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 20px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: -15px;
}

.benefit-icon {
  color: #217142;
  font-size: 25px;
  line-height: 25px;
  vertical-align: middle
}

.perfect_column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro_lessons,
.intro_partners {
  background-color: #ededed;
  padding: 0 77px;
}

.intro_benefits,
.intro_excelist,
.main-albums {
  background-color: #ededed;
  width: 100%;
}

.gallery-popup {
  display: block;
    position: relative;
    &:before{
      position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transform: rotateY(0deg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 9;
    content: "";
    background: rgba(0,0,0,.3);
    transition: all .4s ease-in-out;
    z-index: 9;
    }

    &:hover:before {
      opacity: 1;
      transform: rotateY(180deg);
    }

    &:after {
      content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    width: 31px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fff;
    font-size: 30px;
    z-index: 10;
    transition: all .4s ease-in-out;
    opacity: 0;
    transform: rotateY(0deg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 9;
    }

    &:hover:after {
      opacity: 1;
      transform: rotateY(180deg);
    }
}

.interested {
  font-weight: 700;
  padding: 15px 0;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-size: 18px;
  position: relative;
  line-height: 30px;
  padding-bottom: 22px;
}

.album-subheading {
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 2px;
  color: #217142;
  text-align: center;
  font-style: normal;
  text-align: center;
  margin-bottom: 50px;
}

.rev-slider-text {
  white-space: nowrap;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  color: rgb(33, 113, 66);
}

.interested-link {
  color: #217c41 !important;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.interested-wrapped div {
  width: 90%;
}

.slider-reg {
  white-space: nowrap;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
  padding: 10px 30px;
  border-color: rgba(51, 51, 51, 0);
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  // visibility: inherit;
  transition: none 0s ease 3s;
  border-radius: 0;
  font-style: normal;
  border-width: 0;
  border-style: none;
  background-color: rgb(33, 113, 66);
}

.feedback-item {
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  width: 80px;
  .feedback-name{
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0 -7px;
    text-transform: none;
    color: #217142;
    text-align: center;
  }
}

.partners_row {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  img {
    margin-bottom: 40px;
  }

  img:last-child {
    margin-right: 30px;
  }
}

.intro_partners {
  padding-bottom: 30px;
}

.partners_desc {
  width: 90%;
}

.benefits_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  .row {
    // width: 90%;
    // float: right;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    //align-items: center;

    h3 {
      text-transform: none;
      font-size: 15px;
      line-height: 25px;
      font-weight: 700;
      margin: 0;
      font-style: normal;
      color: #333;
      //max-width: 200px;
    }
  }
}

.main_statistics {
  background-image: url("../../assets/images/intro/statisctic-back.png");
  width: 100%;
  height: 382px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;

  p {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    display: block;
    margin: 0;
    padding-top: 12px;
    color: #217142;

    span {
      text-transform: uppercase;
      font-size: 23px;
      font-weight: 700;
      line-height: 30px;
      display: block;
      color: #217142;
      padding-bottom: 10px;
    }
  }
}

.intro_excelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  justify-content: space-between;
  // width: 100%;
  img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
  }

  .excelist_desc {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .our_team {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 20px;
    }
  }
}

.main_heading {
  padding: 42px 0 19px;
}

.lessons_timeline {
  h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
  }

  .timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    color: #aaa;
  }

  .value {
    font-size: 40px;
  }
}

.row_1,
.row_2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.row_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;

  h2 {
    text-transform: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 4px;
    margin-bottom: 15px;
    color: #217142;
    margin-left: 15px;
  }
}

.intro_videoblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  overflow-x: hidden;
}

.album-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.register-for-lesson {
  box-sizing: border-box;
  width: 250px;
  max-width: 100%;
  font-size: 1.3em;
  padding: 1em 2em;
  background: #217142;
  color: #ffffff !important;
  border: 1px solid #217142;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
}

.lesson-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin: 10px 0;
  text-decoration: none;
  color: #217142;
  text-align: center;
}

.videblog_desc {
  display: flex;
  width: 100%;
  // flex-direction: row;
  justify-content: space-around;
  align-items: center;
  //padding: 0 150px;
  margin-top: 20px !important;

  img {
    width: 90%;
    margin-bottom: 10px;
  }

  .single-title {
    color: #217142 !important;
    font-weight: 600 !important;
    font-size: 18px;
    margin-bottom: 10px !important;
  }
}

.lessons_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .single_lesson {
    width: 255px;
    padding: 0 15px;

    img {
      width: 100%;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      margin: 10px 0;
      text-decoration: none;
      color: #217142;
    }
  }
}

.quality_exams {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.faq_desc {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .ant-collapse {
    max-width: 48%;
  }

  .ant-collapse-header {
    line-height: 30px !important;
    display: block !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #666 !important;
    margin-left: 5px;
    overflow: scroll;
  }
}

.online_benefits {
  h3 {
    text-transform: none;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    margin: 0;
    font-style: normal;
    color: #333;
  }
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.benefits_desc {
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .about_heading {
    // margin-top: 20px !important
  }

  .introduction {
    background-size: cover;
    margin-top: -27px;
  }

  .footer_contact {
    padding: 15px;
  }
  .get_files {
    h2 {
      text-align: center !important;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media screen and (max-width: 1024px){
  .footer-social-icons {
    a {
      margin-right: 5px;
    }
  }
}


@media screen and (max-width: 950px) {
  .introduction-bars {
    flex-wrap: wrap;

    .intro-bar-item {
      width: 49%;
      margin: 0 5px 5px 0;
    }
  }

  .lessons_desc {
    flex-wrap: wrap;
  }

  .videblog_desc {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .single_videoblog {
    margin-bottom: 20px !important;
  }


}



@media screen and (max-width: 890px) {
  .footer_coll_2 {
    width: 45%;
  }
}
@media screen and (max-width: 850px) {
  .footer_contact {
    flex-direction: column !important;
  }

  .footer_coll_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_coll_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .footer_heading_2 {
    margin-bottom: 0 !important;

    p {
      margin-bottom: 0 !important;
    }
  }

  .videblog_desc {
    padding: 0;
  }
}

@media screen and (max-width: 768px){
  .partners_row{
    justify-content: center;
  }
  .quality_exams {
    .row_1, .row_2 {
      flex-direction: column;
      align-items: center;
      .row_item {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .main_statistics,
  .our_team {
    flex-wrap: wrap;
  }

  .main_statistics {
    height: 600px !important;
  }

  .faq_desc {
    flex-direction: column;
    align-items: center;

    .ant-collapse {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .lessons_desc {
    justify-content: center;
  }

}
@media screen and (max-width: 600px) {
  .benefits_desc {
    flex-direction: column !important;
    align-items: center !important;
    padding-left: 0;
    //.row {
    //  align-items: center;
    //  h3{
    //    max-width: 300px;
    //  }
    //}
    .coll {
      justify-content: flex-start !important;
    }
  }

  .rev-slider-text {
    font-size: 20px !important
  }

  .lessons_timeline div {
    flex-direction: column;
  }

  .about_heading {
    font-size: 25px !important;
  }

  //.introduction-bars {
  //  justify-content: center !important;
  //}

  .intro-bar-item {
    width: 95% !important;
  }

  .intro_benefits {
    padding: 0 !important;
  }

  .main_statistics {
    height: auto;
  }

  form {
    width: 90vw;
  }

  #sendButton {
    width: 90vw !important;
  }

  .footer-contact {
    width: 90vw !important;
  }

  .footer_heading_1 {
    text-align: center;
  }

  .intro_partners {
    padding: 0 !important;
  }

  .location {
    iframe {
      width: 100vw !important;
    }
  }

  .footer_social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer_links {
    display: flex;
    flex-direction: column !important;
  }

  .made_by {
    text-align: center;
  }

  .benefits_desc {
    .col {
      padding-left: 0 !important;
      left: -15px;
    }
  }
}

@media screen and (max-width: 618px){
  .animated-text {
    line-height: 0.5em;
  }
  .introduction-bars {
    position: relative;
    bottom: 80px;
  }
  .intro-bar-item {
    div{
      max-width: 125px;

    }
  }
}

@media screen and (max-width: 400px) {
  .rev-slider-text {
    font-size: 18px !important
  }

  //.benefits_desc {
  //  .row {
  //    align-items: center;
  //    h3{
  //      max-width: 400px;
  //    }
  //  }
  //}

  .quality_exams {
    .row_1,
    .row_2 {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row_item {
        justify-content: center;
        width: 90%;
      }
    }
  }
  .intro-bar-item {
    div {
      max-width: 80px
    }
    h1 {
      font-size: 18px !important;
    }
    width: 100% !important;
  }
}
