.sidebar-learnmore {
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #154a2b), color-stop(1, #217142));
  border: 1px solid;
  border-color: #123e24 #10361f #0c2a19 #10361f;
  border-radius: 0.25em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1em;
  color: white !important;
   i{
     color: #fff;
     margin-right: 5px
   }
}

.sidebar-course {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  border-left: 1px solid #e5e5e5;
  margin-bottom: 30px
}

.sidebar-title-text {
  font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    // margin: -4px 0 14px;
    color: #333;
    margin-left: 10px;
    width: calc(100% - 75px);
}

.sidebar-item {
  margin-bottom: 50px;
  padding-left: 20px;
  min-width: 300px;
  p {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid green;
    padding-left: 10px;
  }
  .lessons-container {
    display: flex;
    flex-direction: column;
  }

}
