// variables
$brand-color: #217142;

// breakpoints
$xss: 375px;
$xs: 420px;
$sm-max: 575px;
$sm-min: 576px;
$md-small: 650px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl-md: 1440px;
$xxl-max: 1679px;
$xxl-min: 1680px;

// container width
$xss-container: 320px;
$xs-container: 400px;
$sm-container: 546px;
$md-container: 730px;
$lg-container: 892px;
$xl-container: 1160px;
$xxl-container: 1650px;

:export {
    xss: $xss;
    xs: $xs;
    md: $md;
    md-small: $md-small; 
    lg: $lg;
    xl: $xl;
    xxl: $xxl-max;
  }
