.students-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    margin-top: 80px;
    margin-bottom: 50px
  }
  .students_count {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px
  }
  .submit_count {
    width: 40%
  }
}
