.active-lesson {
  border: 1px solid black;
  padding: 15px;
}

.create-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  .lesson_name, button , .datepicker{
    width: 50%;
    margin-bottom: 20px
  }
  h2{
    margin-top: 30px
  }
  button {
    width: 50%
  }
}
