.active-lesson {
  border: 1px solid black;
  padding: 15px;
}

.create-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ant-upload-drag{
    width: 60% !important;
    display: flex;
    margin: 10px auto;
  }
  .lesson_name, button , .datepicker{
    width: 50%;
    margin-bottom: 20px
  }
  h2{
    margin-top: 30px
  }
  button {
    width: 50%
  }
}

.lessons-admin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.admin-lesson-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
